.board-cell {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #ff668a;
}

.board-piece-filled {
  background-color: #999999;
}

.cannot-drop {
  background-color:red;
  border: 2px solid red;
}

.valid-move-cell {
  background-color: yellow;
}

.piece-cell {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #64f5c7;
}

.empty-piece {
  background-color: transparent;
  cursor: default;
}

.board .col {
  margin: 0px;
  padding: 0px;
}

/* .App {
  display: flex;
  justify-content: center;
} */

.board {
  padding-left: 5px;
  padding-top: 5px;
  background-color: #c2bcbd;
  /* width: 50%; */
}
